body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav {
    background-color: steelblue;
    color: floralwhite;
    display: flex;
    justify-content: right;
    align-items: stretch;
}

.nav ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    height: 100%;
}

.nav ul button {
    color: floralwhite;
    font-size: 1.5rem;
}

.nav ul button img {
    height: 2rem;
}

